@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alkatra", cursive;
  text-decoration: none;
  list-style-type: none;
}

/* body {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    #e0e4cc,
    #d6e3cb,
    #cae1cb,
    #bfe0cd,
    #b4ded1,
    #abddd3,
    #a2dbd6,
    #99d9da,
    #8ed7dc,
    #82d6df,
    #76d4e3,
    #69d2e7
  );
} */
